/*Created by: Joanne Santhosh
* Created on: Mar 2022
*This CSS file defines the style for index.html ICS20-Assignment-1-HTML-MDL*/


body {
  background-color: #ec9898;
}

.content {
  background-color:  #f2b1b1;
  color: #dfdab9;
  font-family: "Lato", sans-serif;
  max-width: 1080px;
  margin: 0 auto;
  title:  3px solid #aae9df;

