/*Created by: Joanne Santhosh
* Created on: Mar 2022
*This CSS file defines the style for index.html ICS20-Assignment-1-HTML-MDL*/


body {
  background-color:teal;
}


h1 {
  background-color: rgb(120, 8, 70);
  color: hsl(147, 50%, 47%);
  padding: 40px;
  text-align: right side;
}


p {
  background-color:#ff00ff;
}